@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(0px);
        max-height: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        max-height: 230px;
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
        max-height: 230px;
    }
    100% {
        opacity: 0;
        transform: translateY(0px);
        max-height: 0;
    }
}

.launch-section {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.version-selector-container {
    position: relative;
    display: flex;
    animation: bounceIn 0.6s ease-out;
}



.start-button {
    background-color: var(--theme-color);
    border: none;
    border-radius: 6px 0 0 6px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    outline: none;
    width: 180px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start-button .button-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.arrow-button {
    background-color: var(--theme-color);
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    transition: transform 0.3s ease;
    color: white;
}

.arrow.open {
    transform: rotate(180deg);
}

.version {
    font-size: 12px;
}

.version-sub {
    font-size: 12px;
    color: #888;
    margin-top: 4px;
    line-height: 1.2;
}


.version-title {
    font-weight: 500;
    color: #222;
}

.version-item {
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
    color: #333;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.version-item:hover {
    background-color: #f1f1f1;
}

.version-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.version-info {
    display: flex;
    flex-direction: column;
}

.version-list {
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow-y: auto;
    z-index: 1000;
    min-width: 200px;
    max-width: 80vw;
    margin-bottom: 5px;
    max-height: 300px;
    opacity: 0;
    transform: translateY(-20px);
    transform-origin: top right;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.version-list.slide-down {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}



.version-list.slide-down {
    animation: slideDown 0.4s ease forwards;
    pointer-events: auto;
}

.version-list.slide-up {
    animation: slideUp 0.4s ease forwards;
}

/* 设置滚动条样式 */
.version-list::-webkit-scrollbar {
    width: 8px;
}

.version-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}



.version-selector-container.bounce-out {
    animation: bounceOut 0.6s ease-in; /* 添加收缩效果 */
}