/* @import "tailwindcss"; */


body {
  user-select: none;
  background-image: url('./assets/background.webp'); /* 确保路径正确 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: row;
}


::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  position: fixed;   /* 固定在视口，不能被偏移 */
  inset: 0;          /* 等同于 top:0; right:0; bottom:0; left:0; */
  overflow: hidden;  /* 禁止内部滚动 */
  touch-action: none;/* 禁止触摸平移/缩放（移动端） */
  user-select: none; /* 禁止选中 */
  -webkit-app-region: no-drag; /* Electron/Tauri/Chromium 桌面应用：禁止该区域拖动窗口 */
}

/* 防止图片/链接被拖拽 */
#root img, #root a {
  -webkit-user-drag: none;
  user-drag: none;
}


